@using AdMegasoft.Web.Shared.Components.Dialog

<DialogForm Model="Model" OnValidSubmit="Submit"
            Icon=@(Model.Id == 0? Icons.Material.Filled.Add : Icons.Material.Filled.Edit)>
    <Title>
        @(Model.Id == 0? "Crear Rol" : "Editar Rol")
    </Title>

    <Content>
        <MudTextField @bind-Value="@Model.Name"
                      For="@(() => Model.Name)"
                      Immediate="true"
                      Label="Nombre"
                      Variant="Variant.Outlined"
                      Class="my-3" />

        <MudTextField @bind-Value="@Model.Description"
                      For="@(() => Model.Description)"
                      Immediate="true"
                      Label="Descripción"
                      Variant="Variant.Outlined"
                      Lines="2"
                      Class="my-3" />
    </Content>
</DialogForm>