@using AdMegasoft.Web.Shared.Components.Dialogs

<MegaDialog OnSave="SaveAsync"
            Icon=@(AddEditUserCommand.Id == 0? Icons.Material.Filled.Add : Icons.Material.Filled.Edit)>
    <Title>
        @(AddEditUserCommand.Id == 0? "Crear Usuario" : "Editar Usuario")
    </Title>

    <Content>
        <MudForm Model="@AddEditUserCommand" @ref="@_form">

            <MudTextField @bind-Value="@AddEditUserCommand.AccountName"
                          Validation="@(_validator.ValidateValue)"
                          For="@(() => AddEditUserCommand.AccountName)"
                          Immediate="true"
                          Label="Nombre de la cuenta"
                          Variant="Variant.Outlined"
                          Class="my-4" />

            <MudTextField @bind-Value="@AddEditUserCommand.Password"
                          Validation="@(_validator.ValidateValue)"
                          For="@(() => AddEditUserCommand.Password)"
                          Immediate="true"
                          Label="Contraseña"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.End"
                          AdornmentIcon="@_passwordInputIcon"
                          OnAdornmentClick="TogglePasswordVisibility"
                          InputType="@_passwordInput"
                          Class="mt-4" />

            <MudSelect T="int" Label="Roles" MultiSelection="true"
                       MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionTextForRoles))"
                       @bind-SelectedValues="_selectedRoles" Variant="Variant.Outlined" Class="my-4">
                @foreach (var rol in _roles)
                {
                    <MudSelectItem T="int" Value="@rol.Id">
                        @rol.Name

                        <MudText Typo="Typo.body2">
                            @rol.Description 
                        </MudText>
                    </MudSelectItem>
                }
            </MudSelect>
        </MudForm>
    </Content>
</MegaDialog>
