@page "/login"
@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Admegatest.Core.Models

<div class="login-container">
    <div class="login-container__card-wrapper">
        <MudCard>
            <MudCardContent>
                <div class="d-flex justify-center">
                    <img src="images/logos/megasoft-vertical-260x190.png"/>
                </div>
                <MudForm @bind-IsValid="@success">
                    <MudTextField T="string" Label="Email" @ref="_emailField" Required="true" RequiredError="¡El correo electronico es requerido!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "La dirección de correo electrónico es inválida"})" />
                    <MudTextField T="string" Label="Contraseña" @ref="_passwordField"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="¡Se requiere contraseña!" />
                </MudForm>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                           Disabled="@(!success)" Class="ml-auto" OnClick=ValidateUser>Iniciar sesión</MudButton>
            </MudCardActions>
        </MudCard>

        @if (Errors.Count != 0)
        {
            <MudExpansionPanels Class="mt-5">
                <MudExpansionPanel Text="@($"Ver Errores ({Errors.Count})")">
                    @foreach (var error in Errors)
                    {
                        <MudText Color="@Color.Error">@error</MudText>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
        }

    </div>
</div>