@using Web.Shared.Components.Dialog

<DialogForm Model="Model" OnValidSubmit="SubmitAsync"
            Icon=@(EditMode? Icons.Material.Filled.Edit : Icons.Material.Filled.Add)>
    <Title>
        @(EditMode? "Editar Rol" : "Crear Rol")
    </Title>

    <Content>
        <MudTextField @bind-Value="@Model.Name"
                      For="@(() => Model.Name)"
                      Immediate="true"
                      Label="Nombre"
                      Variant="Variant.Outlined"
                      Class="my-3" />

        <MudTextField @bind-Value="@Model.Description"
                      For="@(() => Model.Description)"
                      Immediate="true"
                      Label="Descripción"
                      Variant="Variant.Outlined"
                      Lines="2"
                      Class="my-3" />
    </Content>
</DialogForm>