@using Web.Shared.Components.Dialog
@using Web.Shared.Components.Field

<DialogForm Model="Model" OnValidSubmit="SubmitAsync"
            Icon=@(EditMode? Icons.Material.Filled.Edit : Icons.Material.Filled.Add)>
    <Title>
        @(EditMode? "Editar Usuario" : "Crear Usuario")
    </Title>

    <Content>
        <MudTextField @bind-Value="@Model.Name"
                      For="@(() => Model.Name)"
                      Immediate="true"
                      Label="Nombre"
                      Variant="Variant.Outlined"
                      Class="my-4" />

        <PasswordField @bind-Value="@Model.Password"
                       For="@(() => Model.Password)"
                       Immediate="true"
                       Label="Contraseña"
                       Class="mt-4" />

        <MudSelect T="int" Label="Roles" MultiSelection="true"
                   MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionTextForRoles))"
                   @bind-SelectedValues="Model.RoleIds" Variant="Variant.Outlined" Class="my-4">
            @foreach (var rol in _roles)
            {
                <MudSelectItem T="int" Value="@rol.Id">
                    @rol.Name

                    <MudText Typo="Typo.body2">
                        @rol.Description
                    </MudText>
                </MudSelectItem>
            }
        </MudSelect>

        <MudCheckBox @bind-Checked="@Model.IsActive"
                     For="@(() => Model.IsActive)"
                     Color="Color.Primary"
                     Label="Habilitado" />
    </Content>
</DialogForm>
